global
  log /dev/log local0 notice
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  ca-base {{ ssl.folder }}
  crt-base {{ ssl.folder }}
  ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
  ssl-default-bind-options no-sslv3
  ssl-default-server-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
  ssl-default-server-options no-sslv3

defaults
  log global
  mode tcp
  option httplog
  option http-server-close
  option dontlognull
  option forwardfor       except 127.0.0.0/8
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend vs_tcp_ldaps
  description Ldaps SSL offload
  bind *:636 ssl crt {{ ansible_fqdn }}.pem
  mode tcp
  option tcplog
  default_backend ldaps_servers

backend ldaps_servers
  mode tcp
  balance roundrobin
{% for ad_server in ldaps_url_list %}
  server AD{{ loop.index }} {{ ad_server }} check ssl verify ca-file {{ ssl.folder }}/country-cert.pem
{% endfor %}
  option tcplog
  option log-health-checks
